body {
  margin: 0;
  padding: 0;

  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding: 1em 0.5em 0;

  font-size: 1.8em;
  font-family: monospace;
  text-align: center;
  color: #ffffff;
}

p {
  padding-bottom: 1em;

  font-size: 1em;
  font-family: monospace;
  text-align: center;
  color: #ffffff;
}

.textarea {
  display: block;
  width: 39em;
  height: 10em;
  margin: 0 auto 25px;
  padding: 10px;

  font-size: 18px;
  color: #382c23;

  border-radius: 10px;
  outline: none;
  outline-color: #fac7e0;

  resize: none;
}

.keyboard {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 55.1em;
  height: auto;
  margin: auto;
  padding: 30px 15px;

  font: 28px arial;
  font-size: 14px;
  text-align: center;

  background: #272b2c;
  border-radius: 10px;
  box-shadow: 0 40px 45px rgba(0, 0, 0, 0.4);
}

.keyboard.on {
  display: flex;
}

.keyboard__row {
  display: inline-block;
  height: 3em;
  margin: 0.2em;
}

.keyboard__row--h1 {
  height: 1.7em;

  line-height: 1.4em;
}

.keyboard__row--h3 {
  height: 3.3em;
}

.keyboard__row > * {
  position: relative;

  float: left;
  box-sizing: border-box;
  width: 3.3em;
  height: 100%;
  margin: 0.2em;
  padding: 0.2em;

  text-align: center;
  color: #71d4fe;

  background: #ffffff;
  background: #2f3336;
  border-radius: 1em;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;

  -webkit-user-select: none;
}

.keyboard__row > *:hover {
  text-shadow: 1px 2px 60px #00bcd4, 0 0 60px rgba(0, 188, 212, 0.9), 0 0 60px rgba(0, 188, 212, 0.9), 10px 10px 60px rgba(0, 188, 212, 0.9);

  background: #2f3336;
  border: 1px solid #00d7c3;
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 10px 1px #00d7c3;
  cursor: pointer;
}


.keyboard__row > * span {
  padding: 0.3em;
}

.keyboard__row > *:active {
  transform: scale(0.9);
}


.keyboard__row--h1 > div {
  width: 3.5em;
}

.keyboard__row > div[data-selected] {
  border: 1px solid #00d7c3;
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 10px 1px #00d7c3;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
  position: relative;
  top: 0.2em;

  border: 1px solid #00d7c3;
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 10px 1px #00d7c3;
}

.key--double > div[data-layout] {
  display: none;
}

.key--w3 {
  width: 4.6em;
}

.key--w4 {
  width: 6em;
}

.key--w5 {
  width: 6.5em;
}

.key--w6 {
  width: 8.4em;
}

.key--space {
  width: 18em;
}

.key--double > * {
  padding-top: 0.1em;
}

.key--letter {
  line-height: 2.8em;
}

.key--bottom-left > * {
  position: absolute;
  bottom: 0.4em;
  left: 0.4em;

  text-align: left;
}

.key--bottom-right > * {
  position: absolute;
  right: 0.4em;
  bottom: 0.4em;

  text-align: right;
}

.key--fn > * {
  float: right;
  padding-top: 1.2em;
  padding-right: 0.2em;

  font-size: 0.6em;
  line-height: 1em;
  text-align: right;
}

.key--word > * {
  font-size: 0.8em;
}

.key--letter.keyword_upper {
  text-transform: uppercase;
}

.key--arrow--tall {
  width: 3em;
}

.key--arrow--tall > *,
.key--arrow > * {
  font-size: 0.5em;
  line-height: 3em;
}

.key--arrow {
  width: 3.1em;
  height: 1.8em;
  margin-top: 1.7em;

  line-height: 0.5em;
}

.key--arrow--tall > * {
  padding-top: 0.2em;
}

.keyboard > .keyboard__row {
  text-align: center;
}
